$takeoff-duration: 2s

$white: #ffffff
$lightgrey: #efefef
$midgrey: #c4c2c2
$darkgrey: #332832
$seafoam: #3fd9ac

body
    min-height: 100vh
    background: linear-gradient(to bottom, skyblue, $lightgrey)
    font-family: sans-serif

#launch-button
    position: fixed
    bottom: 40px
    right: 40px
    padding: 0.6em 1.2em
    background: $seafoam
    font-size: 1.1em
    font-weight: 700
    border: 2px solid darken($seafoam, 10%)
    color: darken($seafoam, 40%)
    border-radius: 8px
    z-index: 100
    outline: none
    cursor: pointer
    &:hover
        background: lighten($seafoam, 10%)
    &:focus
        border-color: darken($seafoam, 20%)
    &:active
        background: darken($seafoam, 10%)

#rocket
    position: fixed
    left: 320px
    bottom: 160px
    &.take-off
        .rocket-body
            animation: takeOff $takeoff-duration cubic-bezier(1, 0, 0.65, 1.1)
        .exhaust-flame
            animation: takeOffFlame $takeoff-duration cubic-bezier(1, 0.25, 0.65, 1.1), exhaust 0.2s infinite
    .rocket-body
        position: relative
        width: 100px
        left: calc(50% - 50px)
        z-index: 10
        .body
            background-color: $lightgrey
            height: 200px
            left: calc(50% - 50px)
            border-top-right-radius: 100%
            border-top-left-radius: 100%
            border-bottom-left-radius: 50%
            border-bottom-right-radius: 50%
        &:before
            content: ''
            position: absolute
            left: calc(50% - 24px)
            width: 48px
            height: 10px
            background-color: $darkgrey
            bottom: -10px
            border-bottom-right-radius: 33%
            border-bottom-left-radius: 33%
    .window
        position: absolute
        width: 40px
        height: 40px
        left: calc(50% - 25px)
        top: 40px
        overflow: hidden
        border-radius: 100%
        background-color: $seafoam
        border: 5px solid $midgrey
        .turnstone
            display: block
            margin: 5px
            width: 75px
    .label
        position: absolute
        top: 100px
        left: 0
        right: 0
        color: $darkgrey
        text-align: center
    .fin
        position: absolute
        z-index: -100
        height: 55px
        width: 50px
        background-color: $seafoam
    .fin-left
        left: -30px
        top: calc(100% - 55px)
        border-top-left-radius: 80%
        border-bottom-left-radius: 20%
    .fin-right
        right: -30px
        top: calc(100% - 55px)
        border-top-right-radius: 80%
        border-bottom-right-radius: 20%
    .exhaust-flame
        position: absolute
        bottom: -100px
        width: 28px
        background: linear-gradient(to bottom, transparent 5%, $white 100%)
        height: 150px
        left: calc(50% - 14px)
        animation: exhaust 0.2s infinite
    .exhaust-fumes
        li
            width: 60px
            height: 60px
            background-color: $white
            list-style: none
            position: absolute
            border-radius: 100%
            &:first-child
                width: 200px
                height: 200px
                bottom: -300px
                animation: fumes 5s infinite
            &:nth-child(2)
                width: 150px
                height: 150px
                left: -120px
                top: 260px
                animation: fumes 3.2s infinite
            &:nth-child(3)
                width: 120px
                height: 120px
                left: -40px
                top: 330px
                animation: fumes 3s 1s infinite
            &:nth-child(4)
                width: 100px
                height: 100px
                left: -170px
                animation: fumes 4s 2s infinite
                top: 380px
            &:nth-child(5)
                width: 130px
                height: 130px
                left: -120px
                top: 350px
                animation: fumes 5s infinite
            &:nth-child(6)
                width: 200px
                height: 200px
                left: -60px
                top: 280px
                animation: fumes2 10s infinite
            &:nth-child(7)
                width: 100px
                height: 100px
                left: -100px
                top: 320px
            &:nth-child(8)
                width: 110px
                height: 110px
                left: 70px
                top: 340px
            &:nth-child(9)
                width: 90px
                height: 90px
                left: 200px
                top: 380px
                animation: fumes 20s infinite

@keyframes fumes
    50%
        transform: scale(1.5)
        background-color: transparent
    51%
        transform: scale(0.8)
    100%
        background-color: $white
        transform: scale(1)

@keyframes exhaust
    0%
        background: linear-gradient(to bottom, transparent 10%, $white 100%)
    50%
        background: linear-gradient(to bottom, transparent 8%, $white 100%)
    75%
        background: linear-gradient(to bottom, transparent 12%, $white 100%)

@keyframes fumes2
    50%
        transform: scale(1.1)

@keyframes bounce
    0%
        transform: translate3d(0px, 0px, 0)
    50%
        transform: translate3d(0px, -4px, 0)
    100%
        transform: translate3d(0px, 0px, 0)

@keyframes takeOff
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(0, -2000px, 0)

@keyframes takeOffFlame
    0%
        height: 150px
    100%
        height: 2150px
